.container {
    max-width:      1000px;
    margin-right:   auto;
    margin-left:    auto;
    padding-right:  30px;
    padding-left:   30px;
    margin-top:     25px;
    font-family:    Helvetica,Arial,sans-serif;
}

.hr {
    max-width:      875px;
    margin-right:   auto;
    margin-left:    auto;
    padding-right:  30px;
    padding-left:   30px;
    margin-top:     25px;
}

.link-icons {
    font-size:      0;
}

img[alt=ProfilePic] {
    width:          200px;
    border-right:   2px black solid;
    border-left:    2px black solid;
    border-top:     2px black solid;
    border-bottom:  2px black solid;
    border-radius:  25px;
}

img[alt=kl25zBoard] {
    border-right:   2px black solid;
    border-left:    2px black solid;
    border-top:     2px black solid;
    border-bottom:  2px black solid;
    display:        block;
    margin-left:    auto;
    margin-right:   auto;
    width:          50%;
    border-radius:  25px;
}