<!--  Copyright (c) 2020 DevBored     -->
<!--  Licensed under the MIT license. -->

<h1 class="article-title">About</h1>
<br/>

<p>
    <img class="about-images" src="images/me.jpg" width="200" height="200">
    <ul class="styleless-list-about">
        <li><b>Name:</b> Austin </li>
        <li><b>Email:</b> devbored.io@gmail.com</li>
    </ul>
    <br/>

</p>

<p>
    Here you'll find blog-posts relating to:
</p>
<ul>
    <li>Embedded Systems</li>
    <li>General Programming Topics</li>
    <li>Computer Architecture</li>
	<li>Graphics programming</li>
    <li>Programmable Hardware (Verilog and FPGA's)</li>
    <li>Current projects that I'm working on</li>
</ul>
<p>
    I also might blog about off-topic things on occasion
    but for the majority this site will focus on the topics listed above.
</p>
