<h1 class="article-title">Blog Posts</h1>
<br/>

<div class="blog-post">
    <img class="blog-post-thumbnail" src="images/kl25z.jpg">
    <div class="blog-post-title">
        <a href="/baremetal-kl25z-dev-pt1">Baremetal KL25Z Development - Part 1</a>
        <p class="blog-post-date">02/06/20</p>
    </div>
</div>

